html {
  background-color: #f7f7f7;
}
.App {
  text-align: center;
  background-color: #f7f7f7;
}

.channels-logo {
  object-fit: inherit;
  max-width: 576px;
  max-height: 576px;
}
.channels-card {
  background-color: #f7f7f7 !important;
}

.programs-card {
  background-color: #f7f7f7 !important;
}
.programs-image {
  object-fit: inherit;
}

.episodes-link {
  margin-top: 10px;
  margin-bottom: 20px;
}
.episodes-image {
  max-width: 88px;
  max-height: 88px;
}
.episodes-container {
  padding-top: 2px;
}
.episodes-image-col {
  padding-top: 7px;
}
.episodes-text,
.episodes-title,
.episodes-published {
  text-align: left;
}
.episodes-published {
  text-transform: capitalize;
  color: #474747;
}

.d-grid {
  grid-template-columns: 98px 3fr;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.category {
  padding-left: 0px;
}

.list-group {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.list-group a {
  color: #000000;
  text-decoration: none;
}
.list-group-item {
  background-color: #f7f7f7 !important;
}
.list-group-item:hover {
  background-color: rgb(240, 239, 236) !important;
}

.Button {
  white-space: normal;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  text-decoration: none;
  color: #000000;
}
.header-title:hover {
  color: #474747 !important;
}

.App-link {
  color: #61dafb;
}

a:-webkit-any-link:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.episodes-desc {
  text-align: left;
  font-weight: bolder;
  font-size: larger;
  margin-left: 25px;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .channels-col {
    padding: 2px !important;
    margin-top: 1px !important;
  }

  .programs-col {
    padding: 2px !important;
    margin-top: 1px !important;
  }
  .programs-text,
  .episodes-text,
  .channels-text {
    font-size: smaller;
  }
  .programs-title,
  .channels-title {
    font-size: medium !important;
  }

  .episodes-title,
  .episodes-published,
  .category {
    font-size: small !important;
  }

  .episodes-button,
  .programs-button,
  .channels-button {
    font-size: 0.9rem !important;
  }
  .episodes-list-link {
    cursor: default;
  }
  .list-group-item:hover {
    background-color: #f7f7f7 !important;
  }
  .episodes-button {
    margin-left: 0px;
    max-width: 92px;
    color: #ffffff !important;
  }
  .episodes-published {
    padding-top: 2px;
  }
}
